* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  min-height: 100vh;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

/* header {
  color: white;
  padding: 60px 40px;
  text-align: center;
} */

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}

p {
  text-align: center;
}

main {
  padding: 40px;
  margin: auto;
}

section {
  margin-bottom: 50px;
}
